$base-bg-color: rgb(232, 232, 232);
$bg-color: rgb(255, 255, 255);
$brand-color: rgb(0, 167, 157);
$hover-color: rgb(156, 158, 161);

$border: solid 1px $brand-color;
$border-radius: 0.4rem;

$base-padding: 0.4rem;
$base-margin: 1.8rem;
