@use "variables";

.library-container {
}

.menu {
  &__items {
    display: flex;
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2rem;
  padding: variables.$base-padding;
  background-color: variables.$bg-color;
  width: 8rem;
  height: 8rem;
  border-radius: variables.$border-radius;
  font-size: 1.5rem;

  &:hover {
    transform: translateY(-10px);
  }
  transition: all 0.35s;
}
