@use "variables";

$padding-base: 0.2rem 1rem 0.2rem 1rem;

.orders-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.order-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.5rem;
  background-color: variables.$bg-color;
  border-radius: variables.$border-radius;

  &__text {
    padding: $padding-base;
    font-size: 1.5rem;
  }
}

.filter-tag {
  font-size: 0.9rem;
  width: fit-content;
  height: fit-content;
  background-color: variables.$base-bg-color;
  border-radius: variables.$border-radius;
  padding: 0 1rem 0 1rem;
  margin-left: 1rem;
  text-align: center;
}

.order {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &__item {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;

    background-color: variables.$bg-color;
    border-radius: variables.$border-radius;
    padding: variables.$base-padding;
    margin-top: 1rem;
  }

  &__text {
    font-size: 1.2rem;
  }
}

.filters {

  width: 100%;
  height: 6rem;
  border-radius: variables.$border-radius;
  margin-bottom: 1rem;
  background-color: variables.$bg-color;

  &__item {

  }
}

// .order-items2 {
//   flex-wrap: wrap;
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: row;
// }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin-top: 1rem;

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, auto);
  }
  
}

.order-item2 {
  flex: 1 1;
  min-width: 13rem;
  width: 100%;
  max-width: 24rem;

  background-color: white;
  margin-right: auto;
  box-shadow: 0px 5px 14px 1px rgba(148, 148, 148, 0.25);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: $padding-base;
  }

  &__author {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    p {
      font-size: 1.5rem;
    }
  }

  &__text {
    p {
      font-size: 1.4rem;
    }
  }

  &__content {
    padding: $padding-base;
  }
}

.order-date {
  font-size: 1.5rem;
}

.order-number {
  color: grey;
  font-size: 1rem;
}

.base {

    width: 400px;
    height: 300px;

    background-color: bisque;

}

.created {
  background-color: lightblue;
}

.closed {
  background-color: rgb(201, 201, 201);
}

.progress {
  background-color: rgb(128, 163, 240);
}

.completed {
  background-color: rgb(173, 230, 176);
}

.deadline {
  background-color: rgb(228, 145, 145);
}

.awaiting {
  background-color: rgb(230, 224, 173);
}