@use "variables";

.app-container {
  width: 80%;
  margin: {
    left: auto;
    right: auto;
  }
  background-color: variables.$base-bg-color;

  &__items {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 1.5rem 0 0 0;
  }

  @media (min-width: 1440px) {
    width: 50%;
  }
}

.topbar {
  height: 5rem;
  font-size: 1.6rem;
  background-color: variables.$bg-color;

  &__items {
    width: 80%;
    margin: {
      left: auto;
      right: auto;
    }

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &__logo {
    margin: 0;
    padding: 0;
  }

  &__link {
    &:link {
      text-decoration: none;
      color: variables.$brand-color;
    }

    &:visited {
      text-decoration: none;
      color: variables.$brand-color;
    }
  }

  &__brand-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.announcements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &__item {
    display: flex;
    flex: {
      shrink: 1;
      grow: 1;
      basis: 11rem;
      direction: column;
    }
    // width: 11rem;
    height: 8.5rem;
    background-color: variables.$bg-color;

    &:hover {
      transform: translateY(-10px);
    }
    transition: all 0.35s;
  }

  &_m-p {
    margin: 1.5rem 1.8rem 0 0;
    padding: variables.$base-padding;
  }

  &_m-p:last-of-type {
    margin: 1.5rem 0 0 0;
    padding: variables.$base-padding;
  }
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  appearance: none;
  border: none;
  outline: none;

  padding: variables.$base-padding;

  font-size: 1.2rem;

  &:focus {
    border: none;
  }

  height: 22%;
  width: 30%;
  background-color: variables.$base-bg-color;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: variables.$bg-color;
  flex: {
    basis: 14rem;
    shrink: 1;
    grow: 0;
  }
  margin-right: variables.$base-margin;

  &__link {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2.5rem;
    padding: variables.$base-padding;
    transition: all 0.1s;
    border-bottom: solid rgb(185, 185, 185) 1px;

    &:link {
      text-decoration: none;
      color: rgb(37, 37, 37);
    }

    &:visited {
      text-decoration: none;
      color: rgb(37, 37, 37);
    }

    &:hover {
      background-color: variables.$hover-color;
    }

    &:first-of-type {
      border-radius: variables.$border-radius variables.$border-radius 0 0;
    }
    &:last-of-type {
      border: none;
      border-radius: 0 0 variables.$border-radius variables.$border-radius;
    }
  }
}

.user-data {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;

  &__name {
    margin-right: 0.5rem;
    color: rgb(109, 109, 109);
  }

  &__photo {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    border-radius: 50%;
    width: 37px;
    height: 37px;
  }

  &__settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: variables.$base-padding;
    right: 0;
    top: 3rem;
    width: 16rem;
    height: fit-content;
    background-color: variables.$bg-color-a;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.25);
    z-index: 100;

    &:link {
      text-decoration: none;
      color: rgb(37, 37, 37);
    }

    &:visited {
      text-decoration: none;
      color: rgb(37, 37, 37);
    }
  }
}

.settings {
  &__button {
    border: none;
    background-color: grey;
    width: 4rem;
    height: 1rem;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;

    &:link {
      text-decoration: none;
      color: rgb(37, 37, 37);
    }
    &:visited {
      color: rgb(37, 37, 37);
    }
    &:last-of-type:hover {
      background-color: variables.$danger-color-a;
    }

    &:hover {
      background-color: variables.$hover-color-a;
    }
  }
}

.page-content {
  display: flex;
  flex: 1 1 auto;
  background-color: variables.$bg-color;
  border-radius: variables.$border-radius;
}

.b-radius {
  border-radius: variables.$border-radius;
}

.border {
  border: variables.$border;
}
